[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "~=2.7"
beautifulsoup4 = "*"
scrapy-playwright = "*"
selenium = "*"

[dev-packages]

[requires]
python_version = "3.9"
